.dropdown-selector {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-icon,
.selected-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-icon {
  opacity: 0.3;
}

.selected-value {
  opacity: 1;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.icon-container:hover .dropdown-icon {
  opacity: 0.3;
}

.work_type_popup {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: max-content;
  padding: 5px 0;
  flex-direction: column;
}

.option-item {
  padding: 8px 16px;
  cursor: pointer;
}

.option-item:hover {
  background-color: #f1f1f1;
}
